body {
  padding: 30px;
  background-color: aliceblue;
}
@media only screen and (min-width: 600px) {
  .main-frame {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .main-frame {
    width: 20%;
  }
}
.main-frame {
  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  padding: 40px;
  flex-direction: "column";
  background-color: black;
  border-radius: 10px;
}

.result-part {
  flex-grow: 1;
  display: flex;
  width: 100%;
}
.number-pad {
  margin-top: 10px;
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}
.number-input {
  line-height: 2;
  font-size: 30px;
  padding: 0 10px;
  width: 100%;
  border-radius: 5px;
}
.btn-item {
  width: 25%;
  margin: 0;
  border: 3px solid black;
}
.btn-item:hover {
  border: 3px solid rgb(149, 221, 255);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.btn-row {
  display: flex;
}
